
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url('../public/landing/img-bg-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.5vw;
  font-weight: 20px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 750px;
}


.container {
  position: relative;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.dashboard{
  min-height: 400px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  margin-left: 0;
}

.board {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5vw;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.card {
  background-color: white;
  position: relative;
  padding-top: 75%;
  transform-style: preserve-3d;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 24px;
  height: 17vw;
  width: 11vw;
  perspective: 1000px;
  min-width: 140px;
  min-height: calc(140px * (17/11));
}

.row-1:hover {
  transform: translateY(-8px);
}

.row-2:hover {
  transform: translateY(8px);
}

.card::before {
  content: "";
  display: block;
  padding-top: inherit;
}

.card > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card.gameover {
  pointer-events: none;
}
.card-0 {
  transform: rotateY(0deg);
}
.card.active {
  transform: rotateY(180deg);
}
.card.undone{
  border: 5px solid rgb(255, 0, 0);
}
.card.matched .card-front {
  border-color: rgb(130, 208, 117);
  color: white;
}
.card-front,
.card-back {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 24px ;
}

.card-front {
  border: 5px solid white;
  transform: rotateY(180deg);
  vertical-align: middle;
  z-index: 2;

}
.card-back {
  background-color: rgba(255, 208, 0, 0.928);
  border: 5px solid white;

  transform: rotateY(0);
  z-index: 1;
}

.card-back-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 80%;
  border: 1px solid white;
  border-radius: 20px ;
}


.reset {
  top: 70px;
  width: 95%;
  height: 20%;
  position: absolute;
  display: flex;
  justify-content: end;
}

.wide-dotted-line {
  position: absolute;
  right: 170px;
  top: -80px;
  width: 27vw;
}

.small-dotted-line {
  width: 140px;
}

.wide-bee {
  position: absolute;
  top: 120px;
  right: 0;
  width: 4vw;
}

.small-bee {
  margin-left: auto;
  margin-top: auto;
  height: 6vh;
  width: 6vw;
}

.small-screen {
  display: none;
}

.wide-screen {
  display: block;
}

.legend{
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: 'Nanum Pen Script', cursive;
  padding: 8px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.button img {
  margin-right: 2px;
  width: 16px;
}

.button:active {
  box-shadow: none;
}

.primary {
  background-color: #52b1b3;
  color: #fff;
}

.primary:hover {
  background-color: #F7DD36;
  color: #000000;
}

.secondary {
  background-color: white;
}

.secondary:hover {
  background-color: rgb(242, 238, 233);
}

.secondary:active{
  background-color: whitesmoke;
}

.sec {
  font-size: 20px !important;
  position: relative;
  margin-right: 50px;
  min-width: 150px;
}

.legend-content {
  width: 100%;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;  
  background-color: #ffffff;
}

.legend-p-one {
  font-family: 'Nanum Pen Script', cursive;
  width: 100%;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

}

.legend-p-two {
  font-family: 'Nanum Pen Script', cursive;
  color: #000000;
  font-size: 23px;
  line-height: 17px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.rest-p-two {
  font-family: 'Nanum Pen Script', cursive;
  color: #000000;
  font-size: 23px !important;
  line-height: 20px;
  margin-top: 0;
  width: 200px !important;

}

.input {
  box-sizing: border-box;
  font-size: 16px;
  height: 42px;
  width: 399px;
  border-radius: 12px;
  background-color: #efeeeb;
  border: 0;
  padding-left: 20px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-center {
  padding: 10px;
  text-align: center;
}

.input.invalid {
  border: 2px solid red;
}

.input:focus{
  border: 1px solid black;
}

@media (max-width: 1100px) {
  body{
    background-image: url('../public/landing/img-bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 28px !important;
    font-weight: 500;
    line-height: 20px;
  }
  .container {
    flex-direction: column !important;
    padding: 0;
  }

  .card {
    height: 25vw !important;
    width: 16vw !important;
  }

  .legend-content {
    flex-direction: column;
  }
  .left{
    height: 20%;
    width: 100%;
  }

  .wide-screen {
    display: none;
  }
  .small-screen {
    display: flex;
    margin: 0px 40px;
    position: relative;
    width: calc(100% - 40px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .top {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 250px;
    height: 40px;
    margin-right: auto;
    margin-left: 30%;
  }

  .line-reset {
    display: flex;
    flex-direction: row;
    width: 370px;
    position: absolute;
    bottom: -30px;
    left: -150px
  }

  .small-screen .sec{
    position: relative;
    font-size: 25px !important;
    line-height: 20px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
  }

  .sec .rest-p-two{
    margin-top: 0;
  }

  .legend-content {
    margin-top: 10px;
  }
  .dashboard{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    min-height: 0;
  }
}